* {
    text-align: center;
  }

.centering {
    margin-left: auto;
    margin-right: auto;
    outline-style: double;
    outline-color: white;
    border: 1px solid black;
    border-color: red;
  }

h1 {
    color: #7394FF;
    font-family: badaboom-pro, sans-serif;
    font-style: italic;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
    
}

#tasks_counter {
    font-family: badaboom-pro, sans-serif;
    font-style: italic;
    font-weight: 800;
    text-shadow: 3px 3px #ffffff;
    }

body {
    background-color: #a7ecef;
    animation: background 50s infinite;
    }

.color_box {
  background-color: #9DEC45;
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {background-color: #F4D701;}
  }

.add_button {
    background-color: #0cf737; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .delete_button {
    background-color: #ff1111; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #first_button {
    background-color: #ff1111; 
      border: none;
      color: black;
      padding: 5px 5px;
      margin: 20px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
    
  }

  @keyframes background {
    50% {background-color: #ff16b9;}
  }